@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.banner {
    display: grid;
    height: 60px;
    text-align: center;
    margin-top: -10px;
    margin-left: -11px;
}

.logo {
    display:grid;
    grid-template-columns: 220px 170px 420px 80px 60px 60px 80px 60px 60px 60px 100px 80px;
    grid-template-rows: 100px;
    height: 70px;
    width: 1500px;
    background-color: black;
    margin-top: 10px;
    margin-left: -10px;
}

.q {
    margin-top: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 170px 70px 150px 1000px;
    margin-top : 15px;
    margin-left : 15px; 
    margin-bottom: 10px;
    font-size: 12px;
    font-family: 굴림;
}

h1 {
    color : white;
    margin: auto;
    margin-left: 20px;
    margin-top:10px;
}

h3 span:nth-child(1){
    color : #34a853;
}

h3 {
    color : white;
    margin: auto;
    margin-left: 20px;
    margin-top: 20px;
}

.back {
    width: 33%;
    float: left;
    border: 10px;
    border-color: #ffffff;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    counter-increment: bc;
    padding: 0px 5px 5px 5px;
}

.button_base {
    margin: -16px -20px;
    border: 0;
    font-size: 12px;
    position: relative;
    width: 150px;
    height: 28px;
    text-align: center;
    vertical-align: middle;
    line-height: 9px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.b01_simple_rollover {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
}

.b01_simple_rollover:hover {
    color: #ffffff;
    background-color: #000000;
}

a:link {
    color : white; text-decoration: none;
}
a:visited {
    color : white; text-decoration: none;
}
a:hover{
    color:white; text-decoration: none;
}

html, body {
  box-sizing: border-box;
  background-color: #fff;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

html, body {
  background-color: #fff;
}
  .container > div:nth-child(1n) {
    background-color: #96ceb4;	
  }
  
  .container > div:nth-child(3n) {
    background-color: #88d8b0;
  }
  
  .container > div:nth-child(2n) {
        background-color: #ff6f69;
  }
  
  .container > div:nth-child(4n) {
        background-color: #ffcc5c;
  }
  
  .container {
      display: grid;
      grid-gap: 3px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 300px;
          grid-template-areas:
              "c c c c c c c c c c c c"
  }
  
  .header {
      grid-area:h;
  }
  
  .menu {  
      grid-area:m;
  }
  
  .content {
    grid-area:c;
  }
  
  .footer {
    grid-area:f;
  }
  
  